
.button-wrapper{
  display: flex;
  justify-content: flex-end;
  padding: 0 0 24px;
  min-height: auto;

  .mat-raised-button{
    padding: 0 16px;
  }

  .mat-stroked-button{
    border: none;
  }
}
