<div class="container">
  <mat-toolbar>
    <mat-toolbar-row>
<!--      this async creates different instances but in that case its okay, in -->

      <span class="large-screen-title"> <strong>All Tasks ({{(this.$tasks|async)?.length}})</strong></span>
      <span class="small-screen-title"> <strong>Total ({{(this.$tasks|async)?.length}})</strong></span>
      <mat-form-field appearance="outline" class="custom-form-field" >
        <mat-icon matSuffix>search</mat-icon>
        <input matInput type="search" placeholder="Search task"
               [formControl]="searchControl"
        >
      </mat-form-field>

      <span class="toolbar-spacer"></span>
      <button class="large-button" mat-raised-button color="primary" (click)="addNewTask()">Add new Task
      </button>
      <button class="small-button" mat-raised-button color="primary" (click)="addNewTask()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <mat-divider ></mat-divider>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="task-container" >
    <app-task *ngFor=" let task of $tasks|async"
              [todo]="task"></app-task>
  </div>
</div>


